<app-header></app-header>
<div class="container mb-10">
<div class="title">
  <p class="font-bold text-2xl mt-36 ml-20">Đơn hàng của bạn</p>
  <div class="orderall" *ngFor="let item of order">
  <div class="info border-2 w-11/12 ml-10 mt-10 ">
    <div class="ml-10 mt-3 mb-3 font-medium">
    <p>Họ Và Tên: {{item.name}}</p>
    <p>Địa Chỉ: {{item.address}}</p>
    <p>Số Điện Thoại: {{item.number}}</p>
    <p>Tổng Số Đơn Hàng: {{item.quantityProduct}} Sản Phẩm</p>
    <p>Tổng Số Đơn Hàng: {{item.orderDate | date:'short'}} </p>
    <p>Trạng Thái Đơn Hàng: {{item.status}}</p>
    <p>Số Tiền Cần Thanh Toán: {{item.totalPriceOrder}}</p>
    </div>
  </div>
  <div class=" ml-10 w-11/12 h-16 mt-10 border-2 flex">
    <div class="flex items-center ml-10" style="flex: 1"><p>Sản Phẩm</p></div>
    <div class="flex items-center justify-around" style="flex: 1">
      <p>Đơn Giá</p>
      <p>Số Lượng</p>
      <p>Số Tiền</p>
    </div>
  </div>
  <div class=" ml-10 w-11/12 h-auto mt-10 border-2 shadow-xl" *ngFor=" let item1 of item.orderdetails"  >
    <div class="flex border-b-2">
      <div class="flex items-center ml-10" style="flex: 1"><img src="http://localhost:2222/{{item1.product.image}}" class="h-32 w-36 mt-3  mb-3" alt="">
        <div class="mt-3 ml-5">
          <p class="w-56 font-medium ">{{item1.product.name}}</p>
          <p class="mt-6 text-yellow-500">Màu: {{item1.product.color}}, Size giày: {{item1.product.size}}</p>
        </div>
      </div>
      <div class="flex items-center justify-around" style="flex: 1">
        <p>{{item1.product.price}}</p>
        <div class="total flex" style="margin-left: -44px;">
          <p class="ml-10">{{item1.quantity}}</p>
        </div>
        <p class="price">{{item.totalPriceOrder}}</p>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<app-footer></app-footer>
