<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<app-header></app-header>
<div class="container w-full mb-10 ">
  <div class="flex items-center flex-col">
    <p class="text-2xl font-bold ">Giỏ Hàng</p>
    <div class="w-11/12 h-16 mt-10 border-2 flex">
      <div class="flex items-center ml-10" style="flex: 1"><p>Sản Phẩm</p></div>
      <div class="flex items-center justify-around" style="flex: 1">
        <p>Đơn Giá</p>
        <p>Số Lượng</p>
        <p>Số Tiền</p>
        <p>Thao Tác</p>
      </div>
    </div>
    <div class="w-11/12 h-auto mt-10 border-2 shadow-xl" *ngFor="let item of listCart" >
      <div class="flex border-b-2">
        <div class="flex items-center ml-10" style="flex: 1"><img src="http://localhost:2222/{{item.product.image}}" class="h-32 w-36 mt-3  mb-3" alt="">
          <div class="mt-3 ml-5">
            <p class="w-56 ">{{item.product.name}}</p>
            <p class="mt-6 text-yellow-500">Màu: {{item.product.color}}, Size giày: {{item.product.size}}</p>
          </div>
        </div>
        <div class="flex items-center justify-around" style="flex: 1">
          <p>{{convertNumber(item.product.price)}} VNĐ</p>
          <div class="total flex" style="margin-left: -44px;">
            <input class="w-14 text-center" type="number" name="" id="amount" value="{{item.quantity}}">
          </div>
          <p class="price">{{convertNumber(item.totalprice)}} VNĐ</p>
          <button mat-icon-button color="warn" (click)="deleteCart(item.cartId)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>

    </div>
    <div class="w-11/12 bg-gray-400 mt-10" style="height:1px"></div>
    <div class=" w-11/12 ">
      <div class="flex justify-between mb-10">
        <p>Tổng tiền hàng</p>
        <p>{{convertNumber(totalMoney)}} VNĐ</p>
      </div>
</div>
    <button routerLink="/order" mat-raised-button class="w-11/12" color="warn">Đặt Hàng</button>
</div>
</div>

<app-footer></app-footer>
