<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="allfooter text-blue-50  w-full bg-purple-600">
  <div class="footer pt-3 h-72   flex  justify-between">
    <div class="colum1 ml-32 text-neutral-50 w-64 h-60">
      <div class="logo1  flex items-center">
        <img class="w-32 h-32 rounded-full " src="./assets/img/Logo2final.png" alt=""><span class="text-neutral-50 font-bold">Mua Là Vui</span>
      </div>
      <p class="">Điện thoại: 0367.517.326</p>
      <p class="mt-4">Email: trantoantt2001@gmail.com</p>
      <p class="mt-4 mb-4">Địa chỉ: Tam Cường, Vĩnh Bảo, Hải Phòng </p>
      <img src="./assets/img/logo1.png" alt="">
    </div>
    <div class="colum2 w-48 h-60 text-neutral-50">
      <p class="mt-4 font-bold">VỀ SPORT SHOES</p>
      <p class="mt-4">Giới thiệu</p>
      <p class="mt-4">Sản Phẩm</p>
      <p class="mt-4">Đối tác</p>
    </div>
    <div class="colum3 w-48 h-60  text-neutral-50">
      <p class="mt-4 font-bold">Hỗ Trợ</p>
      <p class="mt-4">Liên hệ</p>
      <p class="mt-4">Bảo mật</p>
      <p class="mt-4">Điều khoản</p>
    </div>
    <div class="colum4 w-56 h-60 text-neutral-50 mr-32">
      <p class="mt-4 font-bold">CÔNG TY CỔ PHẦN GIÀY THỂ THAO</p>
      <p class="mt-4">Mã số thuế: 0109922901</p>
      <p class="mt-4">Ngày thành lập: 05/12/2022</p>
      <p class="mt-4">Lĩnh vực: Công nghệ, Mua Bán, Trao Đổi. SPORT SHOES xây dựng và phát triển những sản phẩm mạng lại giá trị cho cộng đồng.</p>
    </div>
  </div>
  <div class=" mt-5 link text-neutral-50 mt-10 flex justify-between">
    <p class="pl-32">© 2018 - 2022 SPORT SHOES. All rights reserved.</p>
    <div class="iconsocal flex   w-32 h-16 mr-32 text-3xl">
      <i class=" text-red-700 fa-brands fa-youtube-square"></i>
      <i class=" text-blue-600 mr-6 ml-6 fa-brands fa-facebook-square"></i>
      <i class=" fa-brands fa-tiktok"></i>
    </div>
  </div>

</div>

