<app-header></app-header>
<div class="container h-auto mt-20">
  <div class="introduce flex mt-32 ml-32 ">
    <div class="image ">
      <img class="rounded-2xl" style=" width:590px; height:500px;" src="./assets/img/pexels-sneep-crew-9692150.jpg"
           alt="">
    </div>
    <div class=" ml-32 des">
      <p class="text-3xl font-bold ">Giới Thiệu</p>
      <p class="w-9/12 mt-7">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình
        ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn mạnh.</p>
      <p class="text-3xl font-bold mt-5 ">Sản Phẩm Tốt Nhất</p>
      <p class="w-9/12 mt-7">Tại đây các bạn có thể tìm kiếm được những sản phẩm giày tốt nhất cho mình và đại gia đình.
        Chúng tôi luôn luôn cung cấp cho các bạn những sản phẩm chính hãng từ những thương hiệu nổi tiếng.</p>
      <p class="text-3xl font-bold mt-5 ">Khách Hàng Là Trên Hết</p>
      <p class="w-9/12 mt-7">Những đóng góp của khách hàng là những phản hồi quý báu đối với chúng tôi,
        đó là cách để chúng tôi cải thiện lại dịch vụ cũng như hệ thống.</p>
    </div>
  </div>
  <div class="commit h-auto flex">
    <div class="allleft w-full ">
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/vanchuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Vận Chuyển</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây,chi phí vận chuyển luôn luôn miễn phí và dảm bảo sản phẩm tốt nhất đến tay khách hàng.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/new.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Mới Nhất</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES!
              Tại đây, mỗi sản phẩm đều là nhưng sản phẩm mới nhất trên thị trường và luôn cập nhật từng ngày.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/khien.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">An Toàn</p>

            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây chúng tôi luôn luôn bảo vệ khách hàng của mình,sẽ giải quyết tất cả các vấn đề liên quan đến sản phẩm.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="allright w-full">
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/thanhtoan.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Thanh Toán</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây,chi phí đơn hàng luôn luôn được kiểm tra rồi mới thanh toán và minh bạch trên trang web của chúng tôi.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/trochuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Trò Chuyện</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, chúng tôi luôn lắng nghe ý kiến khách hàng để cải thiện chất lượng sản phẩm cũng như dịch vụ của chúng tôi` .</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/doitra.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Đổi Trả</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, nếu sản phẩm có lỗi từ nhà sản xuất hay không dúng kích cỡ có thể đổi trả trong vòng 7 theo chính sách đổi trả của chúng tôi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10">
    <p class="w-full text-center font-bold text-2xl mb-10">Liên hệ với chúng tôi</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.5939349674295!2d106.62286750704746!3d20.807709518787238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7735d162afdb%3A0x70df39254ee1c357!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBI4bqjaSBQaMOybmc!5e0!3m2!1svi!2s!4v1678788303587!5m2!1svi!2s" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<app-footer></app-footer>

