<app-header></app-header>
<div class="container mt-20">
  <div class="introduce flex mt-32 ml-32 ">
    <div class="image ">
      <img class="rounded-2xl" style=" width:590px; height:500px;" src="./assets/img/pexels-sneep-crew-9692150.jpg"
           alt="">
    </div>
    <div class=" ml-32 des">
      <p class="text-3xl font-bold ">Giới Thiệu</p>
      <p class="w-9/12 mt-7">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình
        ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn mạnh.</p>
      <p class="text-3xl font-bold mt-5 ">Sản Phẩm Tốt Nhất</p>
      <p class="w-9/12 mt-7">Tại đây các bạn có thể tìm kiếm được những sản phẩm giày tốt nhất cho mình và đại gia đình.
        Chúng tôi luôn luôn cung cấp cho các bạn những sản phẩm chính hãng từ những thương hiệu nổi tiếng.</p>
      <p class="text-3xl font-bold mt-5 ">Khách Hàng Là Trên Hết</p>
      <p class="w-9/12 mt-7">Những đóng góp của khách hàng là những phản hồi quý báu đối với chúng tôi,
        đó là cách để chúng tôi cải thiện lại dịch vụ cũng như hệ thống.</p>
    </div>
  </div>
  <div class="commit flex">
    <div class="allleft w-full ">
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/vanchuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết
              và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn
              mạnh.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/new.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết
              và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn
              mạnh.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/khien.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>

            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết
              và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn
              mạnh.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="allright w-full">
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/vanchuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn mạnh.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/vanchuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn mạnh.</p>
          </div>
        </div>
      </div>
      <div class="commitleft ml-20 mt-28 w-full">
        <div class="commit1 flex">
          <div class="logo1">
            <img class="image1" src="./assets/img/vanchuyen.png" alt="">
          </div>
          <div class="commit-des ml-5">
            <p class="text-3xl font-bold ">Giới Thiệu</p>
            <p class="w-9/12 mt-2 ">Chào mừng bạn đến với ngôi nhà SPORT SHOES! Tại đây, mỗi một dòng chữ, mỗi chi tiết và hình
              ảnh đều là những bằng chứng mang dấu ấn lịch sử của SPORT SHOES, và đang không ngừng phát triển lớn mạnh.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

