<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns:font-size="http://www.w3.org/1999/xhtml">
<app-header></app-header>
<div class=" pb-20 mt-28  " style="background-color:#FFDAB9;">
  <div class="container mb-20">
    <div class="heading-section">
      <h2>Product Details</h2>
    </div>
    <div class="row"  >
      <div class="col-md-6 w-full h-24" >
            <div class=""  ><img style="height:380px;margin-left: 100px;" src="http://localhost:2222/{{product.image}}" alt=""></div>
      </div>
      <div class="col-md-6">
        <div class="product-dtl">
          <div class="product-info">
            <div class="product-name">{{product.name}}</div>
            <div class="product-price-discount"><span>{{product.price}} VND</span></div>
          </div>
          <p>{{product.description}}</p>
          <div class="row">
            <div class="col-md-6 flex">
              <p class="font-bold mr-3 text-black"  style="font-size:large">Size :</p>
             <p  style="font-size:large">{{product.size}}</p>
            </div>
            <div class="col-md-6 flex">
              <p class="font-bold mr-3 text-black"  style="font-size:large">Color :</p>
              <p style="font-size:large">{{product.color}}</p>
            </div>
          </div>
          <form [formGroup]="form">
            <div class="relative">
              <mat-form-field appearance="outline" >
                <mat-label>number</mat-label>
                <input  matInput placeholder="Number" required type="number" formControlName="quantity">
              </mat-form-field>
            </div>
          </form>
          <button mat-flat-button color="primary" (click)="addToCart(product.id)" >Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer ></app-footer>

