<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns:font-size="http://www.w3.org/1999/xhtml">
<app-header></app-header>
<div class=" pb-20 mt-28  " style="background-color:#FFDAB9;">
  <div class="container mb-20">
    <div class="heading-section">
      <h2>Product Details</h2>
    </div>
    <div class="row"  >
      <div class="col-md-6 w-full h-24" >
            <div class=""  ><img style="height:380px;margin-left: 100px;" src="http://localhost:2222/{{product.image}}" alt=""></div>
      </div>
      <div class="col-md-6">
        <div class="product-dtl">
          <div class="product-info">
            <div class="product-name">{{product.name}}</div>
            <div class="product-price-discount"><span>{{convertNumber(product.price)}} VND</span></div>
          </div>
          <p>{{product.description}}</p>
          <div class="row">
            <div class="col-md-6 flex">
              <p class="font-bold mr-3 text-black"  style="font-size:large">Size :</p>
             <p  style="font-size:large">{{product.size}}</p>
            </div>
            <div class="col-md-6 flex">
              <p class="font-bold mr-3 text-black"  style="font-size:large">Color :</p>
              <p style="font-size:large">{{product.color}}</p>
            </div>
          </div>
          <form [formGroup]="form">
            <div class="relative">
              <mat-form-field appearance="outline" >
                <mat-label>number</mat-label>
                <input  matInput placeholder="Number" required type="number" formControlName="quantity">
              </mat-form-field>
            </div>
          </form>
          <button mat-flat-button color="primary" (click)="addToCart(product.id)" >Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" ml-10 mt-10">
  <p class="w-full text-center text-3xl font-bold">Phản Hồi Khách Hàng</p>
  <div class=" flex mt-10">
    <img class="rounded-full w-16 h-16 mr-10" src="./assets/img/avtuser.jpg" alt="">
    <form class="8/12 flex" [formGroup]="form1" (submit)="confirm(product.id)">
      <mat-form-field style="width:590px"   >
        <mat-label>Nhận Xét Của Bạn</mat-label>
        <textarea formControlName="content" matInput placeholder="Hãy Viết Gì Đó...."></textarea>
      </mat-form-field>
      <button mat-raised-button class="w-2/12 h-16 ml-5" color="warn">Xác Nhận</button>
    </form>
  </div>
  <div class="h-auto">
  <div class="flex" *ngFor="let comment of productDetail">
    <img class="rounded-full w-16 h-16 mr-3" src="./assets/img/avtuser.jpg" alt="">
    <div class="">
    <p class="mt-3 font-bold ">{{comment.name}}</p>
      <p>{{comment.content}}</p>
    </div>
  </div>

  </div>
</div>
<app-footer></app-footer>

