<app-header></app-header>
<div class="container1 mt-20">
  <div class="title w-full mt-44">
    <p class="text-3xl font-bold text-center">Giày Nike</p>
  </div>
  <div class="allproduct grid gap-4 grid-cols-4 mt-16 ml-16" *ngFor="let item of listProduct">
  <div class="box-image w-60 h-80  ">
    <div class="image flex justify-center items-center bg-gray-200 h-64">
      <img class="img-shoes" src="http://localhost:2222/{{item.avatar}}" alt="">
    </div>
    <div class="description w-full">
      <p class="text-center font-bold text-xl">{{item.name}}</p>
      <p class="text-center">{{item.price}}</p>
      <button mat-button routerLink="/productdetail/{{item.id}}">chi tiết</button>
    </div>
  </div>
  </div>
</div>

<app-footer></app-footer>
