<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="container1">
  <app-header></app-header>
  <div class="slider ">
    <swiper class="swiper-wrapper pt-10" [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide flex">
          <div class=" info pt-32">
            <img class="w-72 h-36 ml-20 " src="./assets/img/nike_PNG17.png" alt="">
            <p class="  ml-16 text-2xl mt-5 text-yellow-500 ">NIKE SPORT SHOES</p>
            <p class=" mt-7 mb-7 ml-16 text-5xl text-gray-800">Giày Nike Free 5.0</p>
            <p class="   ml-16 w-7/12">Giày Nike Free 5.0 phù hợp với mọi
              hoạt động hàng ngày và khi kết hợp với những chiếc quần
              jean hay quần sooc sẽ cho bạn sự tự tin và năng động.</p>
          </div>
          <div class="img-shoe-slider flex items-center justify-center ">
            <img class=" img-shoes  w-32 h-32" src="./assets/img/nikeshoe1.png" alt="">
          </div>
        </div>
        <div class="swiper-slide flex">
          <div class=" info2 pt-20">
            <img class="w-56 h-44 ml-20 " src="./assets/img/LGCONVERSE.png" alt="">
            <p class="  ml-16 text-2xl mt-3 text-yellow-500 ">CONVERSE SPORT SHOES</p>
            <p class="   mt-7 mb-7 ml-16 w-11/12 text-5xl text-gray-800">Converse All Star </p>
            <p class="   ml-16 w-8/12">Mẫu giày huyền thoại luôn là một trong những đôi giày bán chạy nhất trên thế
              giới.
              Kiểu dáng thanh lịch với phối màu Black/White cực dễ phối đồ với mọi outfit khác nhau,
              đây là một trong những mẫu sneaker cần nên có trong tủ đồ của mỗi người.</p>
          </div>
          <div class="img-shoe-slider2 flex items-center justify-center ">
            <img class=" img-shoes2  w-56 h-32" src="./assets/img/convester.png" alt="">
          </div>
        </div>
        <div class="swiper-slide flex">
          <div class=" info3 pt-20">
            <img class="w-56 h-36 ml-20 " src="./assets/img/Logo_Adidas.png" alt="">
            <p class="  ml-16 text-2xl mt-5 text-yellow-500 ">ADIDAS SPORT SHOES</p>
            <p class="   mt-7 mb-7 ml-16 text-5xl text-gray-800">Giày Adidas Ultraboost</p>
            <p class="   ml-16 w-7/12">Một huyền thoại trẻ.
              Dòng adidas Ultraboost ra mắt năm 2015 và có sức ảnh hưởng mạnh mẽ không chỉ trong giới chạy bộ.
              Thiết kế trung thành theo nguyên bản với đế giữa Boost cho cảm giác thoải mái đến khó tin.</p>
          </div>
          <div class="img-shoe-slider3 flex items-center justify-center ">
            <img class=" img-shoes3  w-32 h-32" src="./assets/img/adidas.png" alt="">
          </div>
        </div>
        <div class="swiper-slide flex">
          <div class=" info4 pt-20">
            <img class="w-56 h-36 ml-20 " src="./assets/img/fila-logo.png" alt="">
            <p class="  ml-16 text-2xl mt-5 text-yellow-500 ">FILA SPORT SHOES</p>
            <p class="   mt-7 mb-7 ml-16 text-5xl text-gray-800">Giày Fila Disruptor 2 </p>
            <p class="   ml-16 w-7/12">Giày Fila Disruptor 2 là mẫu giày sneaker mang phong cách cổ điển của thương hiệu
              Fila.
              Mẫu giày được thiết kế với phong cách chunky sneaker đầy nổi bật.
              Phần upper được làm bằng da cao cấp mang đến sự mềm mại cho đôi chân.</p>

          </div>
          <div class="img-shoe-slider4 flex items-center justify-center ">
            <img class=" img-shoes4  w-32 h-32" src="./assets/img/filafinal.png" alt="">
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class=" swiper-pagination"></div>
    </swiper>

  </div>
  <div class="product ">
    <p class="w-full flex justify-center text-3xl font-bold pt-10 text-red-700">Sản Phẩm Mới Nhất</p>
    <div class="all-product mt-16  relative grid gap-3 grid-cols-4">
      <div class="mt-5"  *ngFor="let item of listProductLatest">
      <div class="container">
        <div class="wrapper">
          <div class="banner-image">
            <img src="http://localhost:2222/{{item.image}}" alt="">
          </div>
          <h1> {{item.categoryName}}</h1>
          <p class="title_cart">{{item.name}}</p>
        </div>
        <div class="button-wrapper">
          <button routerLink="/productdetail/{{item.id}}" class="btn outline">DETAILS</button>
        </div>
      </div>
      </div>
    </div>
    </div>
  <div class="feedback mt-10 mb-24 ">
    <p class="heading w-full flex justify-center text-red-700 font-bold text-3xl">Phản Hồi Khách Hàng</p>
    <div class="grid gap-3 grid-cols-3" >
    <div  *ngFor="let item of listFeedback">
      <div class="box ml-3 w-11/12 h-48 mt-10 bg-blue-300 rounded-3xl shadow-inner">
        <div class=" nameuser flex pt-3">
          <img class=" ml-3  mr-3 w-16 h-16 rounded-full" src="./assets/img/avtuser.jpg" alt="">
          <div>
            <h3>{{item.name}}</h3>
            <div class="stars text-yellow-500">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa fa-star"></i>
            </div>
          </div>
        </div>
        <p class=" ml-3 mb-3 mt-1">
          {{item.content}}
        </p>
      </div>
    </div>
    </div>
  </div>
  <div class="contribute h-72  bg-green-300 flex flex-col items-center justify-center">
    <h3 class="text-red-600">Đóng Góp Ý kiến Cho Chúng Tôi</h3>
    <p>Hãy Đóng Góp Ý Kiến Của Mình.Mọi Sự Đóng Góp Ý Kiến Của Các Bạn Là Vô Cùng Quý Giá Với Chúng Tôi.</p>
    <p>Để Chúng Tôi Ngày Càng Phát Triển Hơn.</p>
    <form [formGroup]="form"  class="form-outline w-5/12 flex">
      <textarea formControlName="content" class="form-control" type="text" rows="4"></textarea>
      <button (click)="addFeedback()" type="button" class="btn btn-primary btn-lg w-36 ml-2">Gửi</button>
    </form>
  </div>
  <app-footer></app-footer>
</div>




